.user-header-container {
    z-index: 100;
}

.user-header-container div{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.user-header-container ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    text-align: center;
    padding-right: 30px;
}

.user-header-container ul li {
    margin-left: 10px;
    margin-right: 10px;
    font-size: 1.1rem;
}

.user-header-container ul li a{
    color: white;
    text-decoration: none;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 1px;
}

.hero-section {
    position: relative;
    display: flex;
    align-items: center;
    background-image: url('./assets/cafe.jpg');
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat;
    aspect-ratio: 24 / 9;
    width: 100%;
    max-height: 450px;
    margin-top: 65px;
}

.hero-section::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

.hero-section h1 {
    color: white;
    font-size: 5.5rem;
    z-index: 2;
    width: 100%;
    text-align: center;
}

.page-container {
  margin-top: 100px;
}

.about-content-container {
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-self: center;
    padding-bottom: 50px;
}

.about-img-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    margin-right: 25px;
}

.about-img-container img{
    max-width: 400px;
    max-height: 270px;
    margin: 15px;
}

.about-text-container {
    width: 60%;
    text-align: justify;
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
}

.product-list-container {
    display: flex;
    flex-wrap: wrap;
    justify-self: center;
    width: 90%;
}
  
.product-card-container {
    width: 250px;
    height: 370px;
    margin: 20px;
    text-align: start;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
    transition: all 0.3s;
    cursor: pointer;
    background-color: rgb(226, 226, 243);
    border: 2px black solid;
}
  
.product-card-container:hover {    
    transform: translateY(-5px);
}
  
.product-card-image-container,  .product-card-image-container img{
    height: 160px;
    width: 250px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    align-content: center;
    text-align: center;
    font-weight: 400;
}
  
.product-card-content-container {
    margin: 8px;
}

.login-form-container {
    background-image: url('./assets/cafe1.jpg');
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    align-content: center;
    justify-items: center;
}

.login-form-container::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(138, 138, 138, 0.5);
  z-index: 1;
}

.form-container {
  position: relative;
  width: 400px;
  height: 470px;
  padding: 10px;
  border-radius: 10px;
  background-color: rgb(243, 242, 242);
  box-shadow: 5px 5px 15px rgba(0, 0, 0);
  z-index: 2;
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.login-form input {
  width: 300px;
  height: 20px;
  padding: 8px;
  margin: 8px 0px;
  border-radius: 5px;
}

.login-btn {
  width: 320px;
  height: fit-content;
  padding: 5px;
  margin: 15px 8px;
  cursor: pointer;
  font-size: large;
  font-weight: bold;
  background-color: rgb(154, 160, 165);
  border-color: rgb(140, 156, 170);
  color: rgb(2, 2, 49);
}

.or-divider {
  display: flex;
  align-items: center;
  text-align: center;
  margin-bottom: 15px;
}

.or-divider hr {
  border-top: 1px solid #ccc;
  width: 140px;
}

.or-divider span {
  padding: 0 10px;
  color: #555;
  font-weight: 500;
}

.signIn-with-btn {
  width: 320px;
  height: 35px;
  padding: 5px;
  cursor: pointer;
  font-size: large;
  font-weight: bold;
  background-color: rgb(25, 25, 97);
  border-color: rgb(25, 25, 97);
  color: rgb(232, 232, 250);
}